.Footer{
	height:50px;
}

.menu{
	background-color : white;
	color : orangered;
	font-size : 1rem;
	font-weight : bolder;
	border-color : grey;
}

.menu:hover{
	background-color : grey;
}

.hw100percent{
	height:100%;
	width:100%;
}